.arrow-btn{
    height: 100%;
    font-family: bold;
    position: absolute;
    right: 0px;
}
.input-item{
    // border: 1px solid #504d4d;
    // border-radius: 5px;
}
.chip-item{
    border-radius: 5px !important;
}

.focus {
    
}